<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.joocola"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.android.joocola.app.JoocolaApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cc589731ed2d57d91bc0d3aa2eb1b3b5" />
		<meta-data 
                android:name="EASEMOB_APPKEY"
                android:value="mobi#joocola"/>
        <activity
            android:name="com.android.joocola.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.android.joocola.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.joocola.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.RegisterOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.joocola.activity.RegisterTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.joocola.activity.FindPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.PersonalCenterActivity"
            android:label="@string/title_activity_personal_center"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.MainTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.PersonalInfoEditActivity"
            android:label="@string/title_activity_personal_info_edit"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.IssuedinvitationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.IssuedinvitationCActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.IssuedinvitationDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.TimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.WatchBigPicActivity"
            android:label="@string/title_activity_watch_big_pic"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.PersonalDetailActivity"
            android:label="@string/title_activity_personal_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.GaodeMapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.GaodeMapSearchActiviy"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.ApplyMangersActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.IssueListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.EvaluateMangerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.ShwoEvaluateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.android.joocola.chat.HeartService"
            android:exported="false" />
		<service android:name="com.android.joocola.service.DefineService"
		    android:exported="false"/>
        <activity
            android:name="com.android.joocola.activity.MemberListActivity"
            android:label="@string/title_activity_member_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.FilterActivity"
            android:label="@string/title_activity_filter"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.TheUserAllEvaluateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.joocola.activity.JoocolaDealActivity"
            android:label="@string/title_activity_joocola_deal"
            android:launchMode="singleTop"
		    android:screenOrientation="portrait" />
		<activity 
		    android:name="com.android.joocola.activity.SystemMessageActivity"
		    android:launchMode="singleTop"
		    android:screenOrientation="portrait"/>
        <receiver
            android:name="com.android.joocola.receiver.NetworkReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>